[submodule "src/cv/yolov7"]
	path = src/cv/yolov7
	url = git@github.com:WongKinYiu/yolov7.git
[submodule "src/cv/FastSAM"]
	path = src/cv/FastSAM
	url = git@github.com:CASIA-IVA-Lab/FastSAM.git
[submodule "src/cv/LAVIS"]
	path = src/cv/LAVIS
	url = git@github.com:salesforce/LAVIS.git
[submodule "static/models/bdd100k-models"]
	path = static/models/bdd100k-models
	url = git@github.com:SysCV/bdd100k-models.git
[submodule "static/libraries/mmsegmentation"]
	path = static/libraries/mmsegmentation
	url = git@github.com:open-mmlab/mmsegmentation.git
[submodule "static/libraries/mmpretrain"]
	path = static/libraries/mmpretrain
	url = git@github.com:open-mmlab/mmpretrain.git
[submodule "static/libraries/sam-hq"]
	path = static/libraries/sam-hq
	url = git@github.com:SysCV/sam-hq.git
[submodule "static/libraries/Grounded-Segment-Anything"]
	path = static/libraries/Grounded-Segment-Anything
	url = git@github.com:IDEA-Research/Grounded-Segment-Anything.git
[submodule "static/libraries/dinov2"]
	path = static/libraries/dinov2
	url = git@github.com:facebookresearch/dinov2.git
[submodule "static/libraries/yolov9"]
	path = static/libraries/yolov9
	url = git@github.com:WongKinYiu/yolov9.git
[submodule "src/cv/ssci/SAM-Adapter-PyTorch"]
	path = src/cv/ssci/SAM-Adapter-PyTorch
	url = git@github.com:tianrun-chen/SAM-Adapter-PyTorch.git
[submodule "src/cv/ssci/FastSAM"]
	path = src/cv/ssci/FastSAM
	url = git@github.com:CASIA-IVA-Lab/FastSAM.git
