[submodule "src/cv/yolov7"]
	path = src/cv/yolov7
	url = git@github.com:WongKinYiu/yolov7.git
[submodule "src/cv/FastSAM"]
	path = src/cv/FastSAM
	url = git@github.com:CASIA-IVA-Lab/FastSAM.git
[submodule "src/cv/LAVIS"]
	path = src/cv/LAVIS
	url = git@github.com:salesforce/LAVIS.git
[submodule "static/models/bdd100k-models"]
	path = static/models/bdd100k-models
	url = git@github.com:SysCV/bdd100k-models.git
[submodule "static/libraries/mmsegmentation"]
	path = static/libraries/mmsegmentation
	url = git@github.com:open-mmlab/mmsegmentation.git
[submodule "static/libraries/mmpretrain"]
	path = static/libraries/mmpretrain
	url = git@github.com:open-mmlab/mmpretrain.git
